body {
  background-image: url("jiroe-b9kh72kOcdM-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
  color: white;
  height: 900px;
}

.emojiInput {
  padding: 1rem;
  width: 60%;
  border-radius: 1rem;
}
